/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');


html{
	height: 100%;
}

body{
	background-image: url("assets/bg.png");
	background-color: #b7f5b7;
	color: black;
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-attachment: fixed;
}

h1{
	font-family: 'Dosis';
}


main{
  flex: 1 0 auto;
}


.loader{
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #4caf50; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 5rem;
}


@keyframes spin{
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}



/* SVG ICONS */
.icon{
    width: 20px;
    height: 25px;
    fill: black;
}


/* HOME */
.excerpt p.link-more{
  display: none;
}

.ngx-pagination a{
    text-decoration: none !important;
    transition: 0.2s;
}


.ngx-pagination button{
    text-decoration: none !important;
    transition: 0.2s;
}

pagination-controls /deep/ .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #4CAF50;
}
